/* normalize Start */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
/* normalize End */

/* General Start */

.hero {
  background-color: #16141b;
  height: 100vh;
  color: white;
  font-size: 2.5rem;
}
p {
  margin: 0;
  font-size: 1.875rem;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: white;
}
/* General End */
/* .hero start */
.hamburger {
  display: none;
}
.hero .nav-mobile {
  display: none;
}
.hero nav {
  display: flex;

  justify-content: flex-end;
}

.hero nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 1.875rem;
  width: 31.25rem;
}

.hero nav ul li {
  text-decoration: none;
}
.hero nav ul li a {
  color: white;
  transition: color 0.3s ease-in-out;
}
.hero nav ul li a:hover {
  color: rgb(76, 0, 139);
}
.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-text {
  margin-left: 5rem;
  margin-bottom: 12.5rem;
}
.hero .hero-text h1 {
  font-size: 5.625rem;
  margin: 0;
}

.hero .hero-text .button {
  width: 12.5rem;
  height: 3.438rem;
  border-radius: 30px;
  background-color: rgb(49, 0, 88);
  text-align: center;
  font-size: 1.875rem;
  margin-top: 1.25rem;
  padding-top: 0.3rem;
  transition: transform 0.2s ease-in-out;
}
.hero .hero-text .button:hover {
  background-color: rgb(69, 0, 126);
  transform: scale(1.015);
}

.hero .hero-area .socials {
  margin: 1.25rem;
  margin-bottom: 21rem;
}
.hero .hero-area .socials a {
  color: white;
  transition: color 0.25s ease-in-out;
}
.hero .hero-area .socials a:hover {
  color: rgb(76, 0, 139);
}

/* .hero End */

/* .Sub-section About me Start */
.sub-section {
  color: rgb(206, 185, 255);
  padding: 5rem;
  background: linear-gradient(#16141b, #25222e);
}
.sub-section h2 {
  font-size: 2em;
  color: rgb(255, 255, 255);
  width: 100%;
}
.sub-section .information-wrapper {
  display: flex;
  justify-content: space-around;
}
.sub-section .information {
  margin-top: 5rem;
}
.headshot {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  margin-left: 5rem;
  transition: transform 0.5s ease-out;
}
.headshot-container {
  display: flex;
  align-items: center;
}

.headshot:hover {
  transform: scale(1.1);
}
.sub-section .information {
  max-width: 45em;
}
.sub-section .information p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}
.sub-section p::first-letter {
  font-size: 1.4em;
}
.sub-section .information p br {
  margin-top: 1rem;
}

/* .Sub-section About me End */

/* .Sub-section Skills Start */
.sub-section-skills {
  color: rgb(236, 228, 255);
  padding: 5rem;
  background: linear-gradient(#25222e, #2e2938);
  list-style-type: none;
  color: #fff;
}
.sub-section-skills h2 {
  font-size: 2em;
  color: rgb(255, 255, 255);
}
.sub-section-skills .bar-container {
  width: 35%;
  margin: auto;
}
.sub-section-skills .bar {
  background: #16141b;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.sub-section-skills .bar span {
  height: 1rem;
  float: left;
  background: linear-gradient(
    135deg,
    rgba(61, 0, 175, 1) 0%,
    rgba(101, 14, 182, 1) 100%
  );
}
.sub-section-skills .bar .html {
  width: 30%;
  animation: html 3s;
}
.sub-section-skills .bar .css {
  width: 35%;
  animation: css 3s;
}
.sub-section-skills .bar .javascript {
  width: 35%;
  animation: javascript 3s;
}
.sub-section-skills .bar .react {
  width: 15%;
  animation: react 3s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}

/* .Sub-section Skills END */

/* Projects Start */
.sub-section-projects {
  background: #18151f;
}
.project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sub-section-projects h2 {
  font-size: 2em;
}
.project-card {
  width: 300px;
  min-height: 600px;
  box-shadow: 2px 2px 10px rgb(48, 48, 48);
  margin: 2rem 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.jsx-icon,
.bi-filetype-js {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  color: rgb(143, 46, 255);
}

.project-container a {
  text-decoration: none;
  columns: white;
  transition: all 0.2s ease-in;
}
.sub-section-projects h3:hover,
.project-container a:hover {
  color: rgb(183, 0, 255);
}
.sub-section-projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem;
  background-color: #1e1d20;
  color: white;
}
.sub-section-projects h3 {
  color: rgb(143, 46, 255);
}
.project-card p.main-text {
  font-size: 1em;
  font-weight: 400;
}

.project-image {
  width: 200px;
  height: 200px;
  margin: 0.5rem;
  border-radius: 100px;
}

.project-card .live-code {
  margin-top: 5rem;
}
hr {
  margin: 0 20px;
}

/* Projects End */
/* Footer Start */
footer {
  height: 9rem;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5rem;
}
footer a:hover {
  color: rgb(183, 0, 255);
}
/* media MOBILE */
@media only screen and (min-device-width: 350px) and (max-device-width: 915px) and (-webkit-min-device-pixel-ratio: 2) {
  .hamburger {
    position: relative;
    display: block;
    width: 5rem;
    border: none;
    appearance: none;
    background: none;
    outline: none;
    margin: 2.5rem;
    align-self: flex-end;
  }
  .hamburger .toggleButton,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
  }

  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-13px, 14px);
  }
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -10px);
  }
  .hamburger.is-active .toggleButton {
    opacity: 0;
  }
  .hero nav ul li {
    display: none;
  }
  .hero .nav-mobile {
    display: block;
    position: fixed;
    left: 100%;

    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: #16141b;
    padding-top: 120px;
    transition: 0.4s;
  }
  .hero .nav-mobile.is-active {
    left: 0;
  }
  .hero .nav-mobile a {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #20163a;
  }

  .hero-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .hero .hero-text {
    margin: 0 0 15rem 0;
  }
  .hero .hero-text .button {
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    background-color: rgb(67, 0, 143);
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
    padding-top: 0.3rem;
  }
  .hero .hero-area .socials {
    display: flex;
  }
  .hero .hero-area .socials i {
    margin: 5rem;
    font-size: 5rem;
  }

  .sub-section {
    flex-direction: column;
    padding: 5rem;
  }
  .sub-section .information-wrapper {
    display: block;
    width: 100%;
  }
  .sub-section .information {
    font-size: 1.083rem;

    margin: 8rem auto auto;
    text-align: center;
  }
  .sub-section .headshot-container .headshot {
    margin: 5rem auto;
    width: 400px;
    height: 400px;
  }

  .sub-section-skills .bar-container {
    width: 70%;
    padding: 2rem;
    font-size: 0.8rem;
  }
  .sub-section-projects h2 {
    font-size: 4rem;
    margin-bottom: 10rem;
  }
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
  .project-card {
    width: 700px;
    min-height: 600px;
    padding: 2rem;
  }
  .jsx-icon,
  .bi-filetype-js {
    position: absolute;
    top: 1;
    right: 10px;
    font-size: 5rem;
    color: rgb(143, 46, 255);
  }
  .project-card img {
    width: 400px;
    height: 400px;
    border-radius: 200px;
  }

  .project-card h3 {
    font-size: 3rem;
  }
  .project-card p.main-text {
    font-size: 1.5rem;
    margin: 2rem auto;
  }
  .project-card .live-code p {
    font-weight: 600;
  }

  footer {
    height: 15rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 10rem;
  }
}
/* MEDIA lower screen */
@media (max-width: 1400px) and (min-device-width: 916px),
  (max-device-width: 349px) {
  /* HERO AREA */
  .hero nav {
    display: flex;
    justify-content: center;
  }
  .hero nav ul li {
    font-size: 1.2rem;
  }

  .hero-area .hero-text {
    margin: auto;
  }
  .hero-area .hero-text h1 {
    font-size: 3.5rem;
    margin-top: 5rem;
  }
  .hero-area .hero-text p {
    font-size: 1.5rem;
  }
  .hero-area .hero-text .button {
    font-size: 1.5rem;
    width: 10rem;
    height: 2.5rem;
  }
  .hero-area {
    flex-direction: column;
  }
  .hero-area .socials {
    display: flex;
    padding-top: 5rem;
  }
  .hero-area .socials a {
    margin: 3rem;
  }
  /* ABOUT ME */
  .sub-section .information-wrapper {
    display: block;
  }
  .sub-section .information {
    width: 100%;
    margin: 1.5rem auto;
  }
  .sub-section .headshot-container img {
    margin: 5rem auto;
  }
  /* skills */
  .sub-section-skills .bar-container {
    min-width: 25rem;
  }
  /* projects */
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}
