/* normalize Start */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
/* normalize End */

/* General Start */

.hero {
  background-color: #16141b;
  height: 100vh;
  color: white;
  font-size: 2.5rem;
}
p {
  margin: 0;
  font-size: 1.875rem;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: white;
}
/* General End */
/* .hero start */
.hamburger {
  display: none;
}

.hero nav {
  display: flex;
  justify-content: space-between;
}
/* to justify content den doulevei??
 */
.hero nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 1.875rem;
  width: 31.25rem;
  /* text-align: end;  ego to evala auto extra*/
}
.hero nav .show {
  /* toggle menu */
  display: block;
}

.hero nav ul li {
  /* removed underline on link */
  text-decoration: none;
}
.hero nav ul li a {
  color: white;
  transition: color 0.3s ease-in-out;
}
.hero nav ul li a:hover {
  color: rgb(76, 0, 139);
}
.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-text {
  margin-left: 5rem;
  margin-bottom: 12.5rem;
}
.hero .hero-text h1 {
  font-size: 5.625rem;
  margin: 0;
}

.hero .hero-text .button {
  width: 12.5rem;
  height: 3.438rem;
  border-radius: 30px;
  background-color: rgb(67, 0, 143);
  text-align: center;
  font-size: 1.875rem;
  margin-top: 1.25rem;
  padding-top: 0.3rem;
}
.hero .hero-text .button:hover {
  background-color: rgb(76, 0, 139);
}

.hero .hero-area .socials {
  margin: 1.25rem;
  margin-bottom: 21rem;
}
.hero .hero-area .socials a {
  color: white;
  transition: color 0.25s ease-in-out;
}
.hero .hero-area .socials a:hover {
  color: rgb(76, 0, 139);
}

/* .hero End */

/* .Sub-section About me Start */
.sub-section {
  color: rgb(236, 228, 255);
  display: flex;
  justify-content: space-around;
  padding: 5rem;

  background: linear-gradient(#16141b, #25222e);
}
.sub-section h2 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
.headshot {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  margin-left: 5rem;
  transition: transform 0.5s ease-out;
}
.headshot-container {
  display: flex;
  align-items: center;
}

.headshot:hover {
  transform: scale(1.1);
}
.sub-section .information p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}
.sub-section p::first-letter {
  font-size: 1.4em;
}
.sub-section .information p br {
  margin-top: 1rem;
}

/* .Sub-section About me End */

/* .Sub-section Skills Start */
.sub-section-skills {
  color: rgb(236, 228, 255);
  padding: 5rem;
  background: linear-gradient(#25222e, #2e2938);
  list-style-type: none;
  color: #fff;
}
.sub-section-skills h2 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
.sub-section-skills .bar-container {
  width: 40%;
  margin: auto;
}
.sub-section-skills .bar {
  background: #16141b;
  display: block;
  /* height: 20px; */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.sub-section-skills .bar span {
  height: 1rem;
  float: left;
  background: linear-gradient(
    135deg,
    rgba(61, 0, 175, 1) 0%,
    rgba(101, 14, 182, 1) 100%
  );
}
.sub-section-skills .bar .html {
  width: 30%;
  animation: html 3s;
}
.sub-section-skills .bar .css {
  width: 35%;
  animation: css 3s;
}
.sub-section-skills .bar .javascript {
  width: 45%;
  animation: javascript 3s;
}
.sub-section-skills .bar .react {
  width: 10%;
  animation: react 3s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}

/* .Sub-section Skills END */

/* Projects Start */
.project-card {
  width: 600px;
  min-height: 600px;
  box-shadow: 5px 5px 20px lightgray;
  margin: 0.625rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.project-container {
  display: flex;
  justify-content: space-around;
}
.project-container a {
  text-decoration: none;
  color: black;
}
.project-container a:hover {
  color: rgb(183, 0, 255);
}
.sub-section-projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem;
  background-color: rgb(239, 234, 255);
}
.project-card p.sub-text {
  font-size: 1em;
  font-weight: 400;
}

.project-image {
  width: 200px;
  margin-top: 1.5rem;
  border-radius: 100px;
}
hr {
  margin: auto 20px 0 20px;
}
.project-link {
  text-decoration: none;
  color: orange;
}
/* Projects End */
/* Footer Start */
footer {
  height: 9rem;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5rem;
}
footer a:hover {
  color: rgb(183, 0, 255);
}
/* media responsive */
@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 1.875rem;
    margin: 2.5rem;
    align-self: flex-end;
  }
  .hero nav ul {
    display: none;
    margin: 0px;
  }
  .hero nav {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero nav .bi-code-square {
    display: none;
  }
  .hero-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .hero .hero-text .button {
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    background-color: rgb(67, 0, 143);
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
    padding-top: 0.3rem;
  }
  .hero .hero-area .socials {
    display: flex;
  }
  .hero .hero-area .socials i {
    margin: 2rem;
    font-size: 4rem;
  }
  .sub-section {
    flex-direction: column;
    padding: 5rem;
    align-items: center;
  }
  .sub-section .headshot-container {
    margin-top: 5rem;
  }
  .sub-section-skills .bar-container {
    width: 100%;
  }
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }

  .project-card p.sub-text {
    font-size: 1.3em;
    font-weight: 600;
  }
  footer {
    height: 15rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    text-align: center;
    /* padding: 1rem; */
  }
}
